.header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__home-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 2%;
  left: 3%;
  fill: var(--color-grey-dark-3);
}
