@import "../../app.scss";

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30rem;

  @media only screen and (max-width: $bp-small) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 3px;
    width: 90%;
    margin-right: -3.25rem;
    font-weight: 300;
    font-size: 1.3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      transition: all 0.2s;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-dark-3);
  }
}
